.navbar{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar li{
    display: inline-block;
    padding: 0px 20px;
}
.navbar a{
    text-decoration: none;
    color: black;
}
.banner {
    background-color: brown;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px;
}

#small-gritty{
    height: 100px;
    width: 100px;
    filter: drop-shadow(1px 1px 1px black);
}

#gritter{
    color: blue;
    font-size: 100px;
}

.bold{
    font-weight: 900;
}
#renk{
    color: brown;
}

a.renk1{
    color: brown;
}
#greets ul{
    list-style-type: none;


}
.gritter-section{
    padding: 20px 50px;
}
.avatar{
    background-image: url(../css/images/better_than_drake.png);
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}